html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  margin: 0;
  padding: 0;
  background-color: blueviolet;
  position: sticky;
  top: 0px;
  overflow: hidden;
  z-index: 1;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav span ul {
  background-color: #db5856;
  border-radius: 4px;
  padding: 5px;
}
.contact {
  background-color: #db5856;
  border-radius: 4px;
  padding: 3px;
  text-decoration: none;
  font-size: large;
  border: 1px solid #db5856;
}
.contact:hover {
  background-color: rgb(38, 37, 37);
  border: 1px solid #db5856;
  border-radius: 4px;
  padding: 3px;
  text-decoration: none;
  font-size: large;
  transition: 1s;
}
.cv {
  border: 1px solid #db5856;
  border-radius: 4px;
  padding: 3px;
  text-decoration: none;
  font-size: large;
  width: 5.291rem;
  text-align: center;
}
.cv:hover {
  background-color: #db5856;
  border-radius: 4px;
  padding: 3px;
  text-decoration: none;
  font-size: large;
  transition: 1s;
}
header nav span ul:hover {
  background-color: rgb(104, 24, 24);
  border-radius: 4px;
  transition: 1s;
}
ul {
  list-style: none;
  padding: 5px;
  margin: 10px;
  color: white;
}
header nav a {
  text-decoration: none;
}

header nav ul:hover {
  transition: 50ms;
  background-color: orange;
  border-radius: 4px;
}
#home {
  background-color: rgb(38, 37, 37);
  height: 100vh;
}
#about {
  background-color: rgb(38, 37, 37);
  height: 100vh;
}
#skills {
  background-color: rgb(38, 37, 37);
  height: 100vh;
}
#contact {
  background-color: rgb(38, 37, 37);
  height: 100vh;
}
main section div {
  display: flex;
  flex-direction: row;
  color: white;
  width: 80vw;
  margin: auto;
  padding-top: 20vh;
}
main section div div {
  width: 50%;
  padding: 10px;
  font-size: 2rem;
}
main section div img {
  width: 30vw;
  height: fit-content;
}
main section {
  margin: auto;
}
main section div div h1 {
  font-size: 2rem;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.name {
  display: block;
  font-size: 4rem;
  color: blueviolet;
}
.sdiv {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.last {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer {
  background-color: blueviolet;
  height: 10vh;
}
i {
  margin: 1vw 4vw;
  color: white;
}
i:hover {
  color: #db5856;
  transition: 1s;
  cursor: pointer;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
footer p {
  text-align: center;
  color: white;
  margin: 0%;
}
input {
  display: block;
  width: 99%;
  font-size: large;
  border: 1px solid #db5856;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
textarea {
  display: block;
  width: 99%;
  font-size: large;
  border: 1px solid #db5856;
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
button {
  display: flex;
  align-items: center;
  font-size: large;
  border: 1px solid #db5856;
  border-radius: 4px;

  background-color: #db5856;
  color: white;
  padding: 5px;
}
button:hover {
  background-color: rgb(38, 37, 37);
  border: 1px solid #db5856;
  border-radius: 4px;
  padding: 5px;
  text-decoration: none;
  font-size: large;
  transition: 1s;
}
.contact-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #db5856;
  border: 1px;
  border-radius: 20px;
  height: 35vw;
  margin: auto 1rem;
  
}
.contact-info {
  margin: 0%;
  display: block;
}
.contact-info i:hover {
  color: white;
}
.contact-info i {
  color: white;
  margin: 5px;
  font-size: x-large;
}
.piechart {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(pink 70deg, lightblue 0 235deg, orange 0);
}
.html {
  background-color: pink;
  width: 30px;
  height: 30px;
  border-radius: 10%;
}
.css {
  background-color: lightblue;
  width: 30px;
  height: 30px;
  border-radius: 10%;
}
.js {
  background-color: orange;
  width: 30px;
  height: 30px;
  border-radius: 10%;
}
.pi {
  display: inline-block;
}
.chart {
  display: block;
}
.abt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block {
  display: block;
  width: 100%;
}
.sec-img {
  position: relative;
  z-index: 0;
  transform: scaleX(-1);
  right: 20%;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #db5856;
  color: white;
  border: none;
  bottom: 75px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  display: none;
}
.back-to-top:hover {
  background-color: rgb(38, 37, 37);
  transition: 1s;
  padding: 10px 15px;
  font-size: 18px;
}
i {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.myinfo {
  width: 30rem;
  font-size: 1.5rem;
}
.info-pag {
  font-size: 2rem;
}
textarea,
textarea::placeholder {
  font: large sans-serif;
}
/* for 1080px */
@media (max-width: 1080px) {
  body {
    width: 100wv;
    margin: auto;
  }
  .contact-info i {
    font-size: large;
  }
  main section div img {
    width: 30vw;
    height: fit-content;
  }
  main section div div {
    font-size: 1.5rem;
  }
  .last {
    width: auto;
  }
  div.block p {
    padding: 0;
    font-size: 1.2rem;
    width: 35vw;
  }
  .info-pag {
    font-size: 1.5rem;
  }

  .img1 {
    margin: auto;
  }
}
/* for the 768px device */
@media (max-width: 768px) {
  div.contact-box {
    flex-direction: column;
    height: auto;
    width: auto;
  }

  header nav {
    height: 50px;
  }
  main section div div {
    font-size: 1rem;
  }
  .contact-info i {
    font-size: medium;
  }
  input {
    padding: revert;
    margin-bottom: 5px;
  }
  textarea {
    padding: revert;
  }
  .pi {
    padding: 0;
  }
  .chart {
    margin: 0;
  }
  .piechart {
    margin: 0;
  }
  div.block p {
    width: 20rem;
    font-size: 1rem;
  }
  .info-pag {
    font-size: 1rem;
  }
  .info {
    font-size: 1rem;
  }
  #contact div {
    flex-direction: column;
  }
  #contact div div.sdiv {
    width: 100%;
    padding: 0;
  }
  #contact div div.contact-info {
    padding: 0;
  }
  #contact div div.contact-box {
    margin: 1rem 0;
  }
}
@media (max-width: 500px) {
  main section div {
    font-size: 0.5rem;
    flex-direction: column;
  }
  header nav {
    height: 50px;
    font-size: 30px;
    float: right;
  }
 
  .sec-img {
    display: none;
  }
  footer p {
    font-size: small;
  }
  .sdiv {
    width: 80vw;
    height: fit-content;
    padding: 0;
  }
  .piechart {
    width: 100px;
    height: 100px;
  }
  .abt {
    margin: 0;
  }
  .img1 {
    position: relative;
    top: -72vh;
  }
  img.img2 {
    display: none;
  }
  div.block p {
    width: auto;
    font-size: 1rem;
  }
  main section div div {
    width: 100%;
  }
  .block {
    padding: 0;
  }
  .abt {
    padding: 0;
  }
  p.myinfo {
    width: fit-content;
  }
  .contact-box {
    width: 76vw;
    margin: revert;
  }

  ul {
    text-align: center;
    font-size: small;
  }
  .last {
    gap: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  div.icons{
    font-size: 1.5rem;

  }
  i{
    margin: auto 1rem;
    

  }
}
/* responsive nav bar */
.topnav .icon {
  display: none;
}
@media screen and (max-width: 500px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    float: none;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    height: 50px;
  }
}
